@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-pblue: 246deg 80% 60%;
    --color-lred: 15deg 100% 70%;
    --color-sblue: 195deg 74% 62%;
    --color-studyred: 348deg 100% 68%;
    --color-lgreen: 145deg 58% 55%;
    --color-violet: 264deg 64% 52%;
    --color-sorange: 43deg 84% 65%;
    --color-vdblue: 226deg 43% 10%;
    --color-dblue: 235deg 46% 20%;
    --color-deblue: 235deg 45% 61%;
    --color-pablue: 236deg 100% 87%;
  }
}
